<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stefan.submit1" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise1.Ex1"
            android:label="@string/title_activity_ex1" >
        </activity>
        <activity
            android:name=".exercise2.Ex2"
            android:label="@string/title_activity_ex2" >
        </activity>
        <activity
            android:name=".exercise3.Ex3"
            android:label="@string/title_activity_ex3" >
        </activity>
        <activity
            android:name=".exercise3.Detail"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".exercise4.Ex4"
            android:label="@string/title_activity_ex4" >
        </activity>
        <activity
            android:name=".exercise5.Ex5"
            android:label="@string/title_activity_ex5" >
        </activity>
    </application>

</manifest>
